body {
    background-color: gray;
}

.skills {
    width: 500px;
    margin: 60px auto;
    color: white;
    list-style-type: none;
}

.skills li {
    margin: 20px 0;
    list-style-type: none;
}

.bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background: #2187e7;
}

.html {
    width: 70%;
    animation: html 2s;
}

.css {
    width: 50%;
    animation: css 2s;
}

.javascript {
    width: 2%;
    animation: javascript 2s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 2%;
    }
}